In [3]:
import pandas as pd
import numpy as np
import openpyxl
from datetime import datetime
import matplotlib.pyplot as plt

In [4]:
df = pd.read_excel('review_final.xlsx')

In [5]:
df = df.drop('Unnamed: 0', axis=1)

In [6]:
df

,date,no_rm,dokter,form
0,01/08/2022,127094.0,dr. Airin Angelina. Sp. S,DPJP
1,01/08/2022,127094.0,dr. Guritno Adistyawan. Sp. KFR,JAWABAN KONSULTASI
2,01/08/2022,261060.0,dr. Tri Joko Winarno. Sp. OG.,DPJP
3,01/08/2022,261060.0,dr. Bangsal,CPPT
4,01/08/2022,261039.0,dr. Airin Angelina. Sp. S,NaN
...,...,...,...,...
102999,30/07/2022,104507.0,dr. Yusuf. Sp. An,NaN
103000,29/07/2022,176699.0,dr. Ngatwanto. Sp.P,NaN
103001,29/07/2022,176699.0,dr. Irsad Andi Arso. Sp. PD..Sp. JP (K),NaN
103002,29/07/2022,247158.0,dr. Fita Wirastuti.Sp. A.,NaN
103003,29/07/2022,125655.0,dr. Tri Joko Winarno. Sp. OG.,NaN

In [62]:
dpjp = df[df.form == 'DPJP'].count()
dpjp

date      471
no_rm     471
dokter    471
form      471
dtype: int64

In [71]:
dpjp = df['form'].value_counts()['DPJP']
dpjp

471

In [57]:
df2 = df.copy()

In [8]:
df2['date'] = pd.to_datetime(df2['date'],dayfirst=True,errors='coerce')

In [9]:
df2

,date,no_rm,dokter,form
0,2022-08-01,127094.0,dr. Airin Angelina. Sp. S,DPJP
1,2022-08-01,127094.0,dr. Guritno Adistyawan. Sp. KFR,JAWABAN KONSULTASI
2,2022-08-01,261060.0,dr. Tri Joko Winarno. Sp. OG.,DPJP
3,2022-08-01,261060.0,dr. Bangsal,CPPT
4,2022-08-01,261039.0,dr. Airin Angelina. Sp. S,NaN
...,...,...,...,...
102999,2022-07-30,104507.0,dr. Yusuf. Sp. An,NaN
103000,2022-07-29,176699.0,dr. Ngatwanto. Sp.P,NaN
103001,2022-07-29,176699.0,dr. Irsad Andi Arso. Sp. PD..Sp. JP (K),NaN
103002,2022-07-29,247158.0,dr. Fita Wirastuti.Sp. A.,NaN
103003,2022-07-29,125655.0,dr. Tri Joko Winarno. Sp. OG.,NaN

In [10]:
df3 = df2.set_index('date')

In [11]:
ranap_srs = df3.groupby(pd.Grouper(freq='M')).nunique()

In [12]:
ranap_srs

            no_rm  dokter  form
date
2022-01-31    669      38   112
2022-02-28    493      34   103
2022-03-31    514      37   128
2022-04-30    574      40   116
2022-05-31    594      37   122
2022-06-30    674      42   140
2022-07-31    739      54   153
2022-08-31    851      54   168
2022-09-30      1       1     0

In [13]:
ranap_srs

            no_rm  dokter  form
date
2022-01-31    669      38   112
2022-02-28    493      34   103
2022-03-31    514      37   128
2022-04-30    574      40   116
2022-05-31    594      37   122
2022-06-30    674      42   140
2022-07-31    739      54   153
2022-08-31    851      54   168
2022-09-30      1       1     0

In [14]:
df_drop = df3.dropna()

In [15]:
df_drop['form'] = df_drop['form'].str.title()
df_drop['form'] = df_drop['form'].str.strip()

C:\Users\GAME\AppData\Local\Temp\ipykernel_12540\3540677250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['form'] = df_drop['form'].str.title()
C:\Users\GAME\AppData\Local\Temp\ipykernel_12540\3540677250.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['form'] = df_drop['form'].str.strip()

In [16]:
df_akhir = df_drop.copy()

In [17]:
df_akhir['form']= df_akhir['form'].replace(['Askep Adewasa','Askep Deawasa','Askep Deawsa','Askep Dewa','Askep Dewaa','Askep Dewas','Askep Dewasa','Askep Dewasa Ic Resiko Tinggi','Askep Dewsa','Askep Dwasa','Askep Ri','Askes Dewasa',
 'Askpe Dewasa'],'Askep')
df_akhir['form']= df_akhir['form'].replace(['Aske[ Dewasa',
 'Askeb',
 'Askeb Ekg',
 'Askeb Ri','Adkep Dewasa'],'Askep')

df_akhir['form']= df_akhir['form'].replace(['Check Kes Pax',
 'Check Kes Px',
 'Check Keselamatan Pax',
 'Check Kesl Px',
 'Checklis Kes Px',
 'Checklis Kes Px Op',
 'Checklist Kes',
 'Checklist Kes Px',
 'Checklist Kes Px Op',
 'Checklist Keselamatan Pax Op',
 'Checklist Keselamatan Px',
 'Checklist Keselamatan Px Op',
 'Checklist Keselmatan Px Op',
 'Checklist Kesl Pax Op',
 'Checlist Kes Px Op',
 'Checlist Keselamatan Pax',
 'Cheklis Kes Px Op',
 'Cheklist Kes Op',
 'Cheklist Kes Px Op',
 'Cheklist Px Op',
 'Checklist Keselamatan op','Op'],'Checklist Keselamatan Op')

df_akhir['form']= df_akhir['form'].replace([
 'Cheklis Kes Px Ruang Bersalin',
 'Cheklist Kes Px Ruang Bersalin',
 'Cheklist Keselamatan Ruang Bersalin','Ruang Berslin','Checklist Kes Px Op/Ruang Bersalin','Checklist Kes Px Op/Ruang Bersalin',
 'Cheklist Kes Px Op/Ruang Bersalin','Checklist Keselamatan Px Op/Ruang Bersalin',
 'Cheklist Kes Px Op/Bersalin'],'Checklist Keselamatan Rb')

df_akhir['form'] = df_akhir['form'].replace(['Ai Anestesi','As Pra Anaste Si','As Pra Anastesi','As Pra Anastesi/ Pra Sedasi','As Pra Anastesi/ Sedasi','As Pra Anestesi','Ass Pra Anastesi','Ass Pra Anastesi/Pra Sedasi','Ass Pra Anestesi','Ass Pra Anestesi Pra Sedasi','Ass Pra Anestesi Sedasi','Ass Pra Anestesi/ Pra Sedasi',
 'Ass Pra Anestesi/Pra Sedasi', 'Ass Praanestesi Sedasi',],'Assesmen Pra Anastesi')

df_akhir['form'] = df_akhir['form'].replace(['Resum In & Out Icu',
 'Resume  Masuk & Keluar Icu','Resume Icu','Resume In & Out Icu','Resume In N Out Icu','Resume In Out Icu','Resume Keluar','Resume Keluar Icu','Resume Keluar Masuk Icu','Resume Masuk & Keluar','Resume Masuk & Keluar Icu',
'Resume Masuk Dan Keluar Icu','Resume Masuk Icu','Resume Masuk Icu & Resume  Keluar Icu','Resume Masuk Keluar','Resume Masuk Keluar Icu','Resume Masukkeluar Icu','Resume Measuk Keluar Icu','Resume Medis Masuk Keluar',
'Resume Out Icu','Resumekeluar Icu', 'Form In Out Icu', 'Keluar Icu', 'E=Resume In Out Icu', 'Lem Masuk Keluar Icu',
'Rk Icu',], 'Resume ICU')

df_akhir['form'] = df_akhir['form'].replace(['Perm Konsul''Perminataan Konsultasi','Permintaaan Konsultasi','Permintaab Konsultasi','Permintaan Konsul','Permintaan Konsulatasi','Permintaan Konsultasi','Permintan Konsultasi',
 'Permitaan Konsultasi', 'Prmintaan Konsultasi',],'Permintaan Konsultasi')

In [18]:
df_akhir['form'] = df_akhir['form'].replace(['Tf Intra Pax',
 'Tf Pax Intra','Tranfer Px Intra Rs','Transfer Intra Px','Transfer Px Intra Px',
 'Transfer Px Intra Rs','Transfrt Px Intra Rs', 'Form Transfer Intra Pax',],'Transfer Intra')

df_akhir['form'] = df_akhir['form'].replace(['L',
 'Lap Anast Esi',
 'Lap Anastesi',
 'Lap Anastesia',
 'Lap Anestesi',
 'Lap Anestesi/Sedasi',
 'Laporan Anastesi',
 'Laporan Anestesi',
 'Laporan Anestesi Sedasi',
],'Laporan Anastesi')

df_akhir['form'] = df_akhir['form'].replace(['L',
 'Lap Op',
 'Lap Operasi',
 'Laporan Op',
 'Laporan Operasi',
 'Laporan Oprasi',],'Laporan Operasi')

df_akhir['form'] = df_akhir['form'].replace(['Mon Pasca Anastesi',
 'Mon Pasca Anastsi',
 'Mon Pasca Anestesi',
 'Mon Pasca Anestesi Sedasi',
 'Mon Pasca Anestesi/Sedasi',
 'Monitoring Pasca Anestesi Sedasi',],'Monitoring Pasca Anastesi')

df_akhir['form'] = df_akhir['form'].replace([ 'Mon Anastesi Lokal', 'Mon Pasca Anastesi Loka', 'Monitoring Px Anastesi  Lokal', 'Anestesi Lokal',],'Monitoring Sedasi Lokal')

df_akhir['form'] = df_akhir['form'].replace(['Monitoring Status',
 'Monitoring Status Fisiologi','Mon Status Fisiologi'],'Monitoring Status  Fisiologis')

df_akhir['form'] = df_akhir['form'].replace(['Penanda Lokasi Op',
 'Penandaan Lok','Form Penanda Lok',
 'Form Penanda Lok Op',
 'Form Penanda Lokasi Op',
 'Form Penanda Op',
 'Form Penandaan Lok Op',
 'Form Penandaan Lokasi Op',
 'Form Pendaan Lok Op',
 'Form Prnanda Lokasi Op',
 'From Lok Op', 'Penanda Lokasi Op',
 'Lo',
 'Lok Op',
 'Form Lok Op',],'Penanda Lokasi Op')

In [19]:
df_akhir['form'] = df_akhir['form'].replace(['Resume Medis',
 'Ringkasan Plg Ri',
 'Ringkasan Pulang Ri',],'Ringkasan Pulang')

df_akhir['form'] = df_akhir['form'].replace(['Perm Konsul',
 'Perminataan Konsultasi',
 'Permintaan Konsultasi',],'Permintaan Konsultasi')

df_akhir['form'] = df_akhir['form'].replace(['Jawaban  Konsultasi',
 'Jawaban Konsul',
 'Jawaban Konsultasi',
 'Jawaban Rujukan',
 'Jawanan Konsul', 'Jawaban Konsultasi',],'Jawaban Konsultasi')

df_akhir['form'] = df_akhir['form'].replace([ 'Form Jawaban Rujukan',
 'Form Jr',
 'Form Jt',
 'Formjawabn Rujukan', 'From Jawaban Rujukan', 'Jr',],'Jawaban Rujukan')

df_akhir['form'] = df_akhir['form'].replace([ 'Rm',
 'Rmk','Ring Masuk Keluar',
 'Ring Masuk Keuar',
 'Ringkasan Masuk Keluar',
 'Rnk',],'RMK')

In [20]:
df_akhir['form'] = df_akhir['form'].replace(['Ic Kedok','Ic Kedokteran','Ic Rj','Ic Rt','Ic Tind','Ic Tind Dktr',
 'Ic Tind Kdktran','Ic Tind Ked','Ic Tind Kedokteran','Ic Tind Kedoteran','Ic Tindakan Kedokteran','Ic Tindakan Kedoktran',
 'Ic Tindakan Resiko Tinggi','Ic Tindrt','Kedokteran'
 ],'Ic Tindakan Dokter')

df_akhir['form'] = df_akhir['form'].replace([
 'Ic Resiko Tinggi',
 'Ic Risiko Tinggi',
 'Ic Tind Resiko Tinggi',
 'Ic Tind Risiko Tinggi',
 'Ic Tindakan Rt',],'IC resiko tinggi')

df_akhir['form'] = df_akhir['form'].replace(['Ic Hd','Ic Tind Hd','Ic Tindakan Hd',],'IC HD ')

df_akhir['form'] = df_akhir['form'].replace(['Ic Tansfusi','Ic Tind Tranfusi',
 'Ic Tind Transfusi',
 'Ic Tind Trasfusi',
 'Ic Tind Trsfusi','Ic Tindakan Transfusi',
 'Ic Trandfusi',
 'Ic Tranfusi',
 'Ic Transfusi',
 'Transfusi',],'IC transfusi')

df_akhir['form'] = df_akhir['form'].replace([ 'Ic Anastesi',
 'Ic Anestesi',
 'Ic Anestesia','Ic Tind Anastesi',],'IC Anastesi')

df_akhir['form'] = df_akhir['form'].replace([ 'IC resiko tinggi','Ic Tind Rj',
 'Ic Tind Rt',],'IC Resiko Tinggi')


df_akhir['form'] = df_akhir['form'].replace([ 'Ic Kb', 'Ic Tind Pemasangan Kontrasepsi', 'Kontrasepsi',],'IC Kontrasepsi')

df_akhir['form'] = df_akhir['form'].replace([ 'Ic Serah Terima Jaringan',
    'Persetujuan Serah Terima Dan Edukasi Pengelolaan Jaringan',
    'Serah Terima Potongan Jaringan', 'Form Pemeriksaan Jaringan',],'Serah Terima Jaringan')

df_akhir['form'] = df_akhir['form'].replace([ 'Cie',
 'Ciep', 'Form Ciep','Edis',
 'Form Edu', 'Catatan Info Edukasi Px',],'CIE')

In [21]:
df_akhir['form'] = df_akhir['form'].replace(['As Ri',
                                                   'As Ri Medis', 
                                                   'As Ri Meds','Ass',
 'Ass Awal','Ass Awal Ri','Ass Ri','Ass Ri Medis',
 'Ass Ri Meids', 'Asss Awal Ri', 'Awal Ri'],'Assesmen Ranap Medis')

df_akhir['form'] = df_akhir['form'].replace(['Aske[ Dewasa',
 'Askeb', 'Askeb Ri', 'Askep', 'Adkep Dewasa', 
 'Sdkrp Dewasa',],'Askep Ranap')

df_akhir['form'] = df_akhir['form'].replace([ 'As Ri Medis Anak',],'Assesmen Ranap Anak')

df_akhir['form'] = df_akhir['form'].replace([ 'Askep Anak', 'Askep Ansk',
                                             'Askep Dewasa/Anak'],'Askep Anak')

# df_akhir['form'] = df_akhir['form'].replace([],'Assesmen Gadar')

df_akhir['form'] = df_akhir['form'].replace(['Askep Gadar',
 'Askep Gador',],'Askep Gadar')

df_akhir['form'] = df_akhir['form'].replace(['As Ri Kebidanan',
 'As Ri Kebinan','Ass Ri Keb',
 'Ass Ri Kebidanan',],'Assesmen Kebidanan')

df_akhir['form'] = df_akhir['form'].replace([ 'Askeb Kebidanan','Askeb Ekg',
  ],'Askep Kebidanan')

df_akhir['form']= df_akhir['form'].replace(['As Ri Neo','As Awal Neo','As Ri Medis Neo','As Ri Neo','As Ri Neonatal','Ass Awal Neonatus','Ass Awal Ri Neonatus','Ass Neonatus','Ass Ri Medis Neonatus','Ass Ri Neonatus','As Awal Ri',
 'As Awal Ri Neo'],'Assesmen Neonatus')

df_akhir['form'] = df_akhir['form'].replace([ 'As Rajal', 'Ass Awal Rajal',
 'Ass Awal Rj',],'Assesmen Rajal')

df_akhir['form'] = df_akhir['form'].replace([ 'As Pra Bedah', 'Ass Pra Bedah', 'Asesmen Pra Bedah',],'Assesmen Pra Bedah')

df_akhir['form'] = df_akhir['form'].replace([ 'As Pra Induksi', 'Ass Pra Indukasi',
 'Ass Pra Induksi',],'Assesmen Pra induksi')

In [22]:
df_akhir['form'] = df_akhir['form'].replace([ 'C Ppt','Cppt','Cppt/ Ring Masuk Keluar',
 'Cpt',],'CPPT')

df_akhir['form'] = df_akhir['form'].replace(['Dojo','Dp','Dpjp',
 'Dppj','Form Penetapan Dpjp',
 'Form Penetepan Dpjp',],'DPJP')

df_akhir['form'] = df_akhir['form'].replace(['Ekg',],'EKG')

df_akhir['form'] = df_akhir['form'].replace([ 'Lemb Usg', 'Usg', 'USG'],'USG')

df_akhir['form'] = df_akhir['form'].replace(['Form Aps', 'Aps',],'APS')

df_akhir['form'] = df_akhir['form'].replace(['Dnr',],'DNR')

df_akhir['form'] = df_akhir['form'].replace([ 'Cppt Icu', 'Monitoring Icu',],'ICU')

df_akhir['form'] = df_akhir['form'].replace([ 'Aurj','Form 16','Form 17'],'Assesmen Jatuh')

In [23]:
df_akhir['form'] = df_akhir['form'].replace([ 'Serah Terima Bayi','Hand Over',
 'Serah Terima Bbl',],'Serah Terima Bayi')

df_akhir['form'] = df_akhir['form'].replace([ 'Isian Lemb Dx Keperawatan', 'Lem Diag Kep',
    'Lemb Diag Kep', 'Lembar Diagnosa Keperawatan',],'Diagnosa Keperawatan')

df_akhir['form'] = df_akhir['form'].replace([ 'Serah Terima Bayi','Handover','Form Serah Terima Bayi Plg',
     'Form Serah Terima Bayi Pulang','Serah Terima Bayi',''],'Serah Terima Bayi')

df_akhir['form'] = df_akhir['form'].replace([ 'Lem Obs', 'Lemb Obs', 'Lemb Observasi',
 'Lembar Observasi',
 'Lembar Pobservasi', 'Obs',
 'Observasi',],'Lembar Observasi')

df_akhir['form'] = df_akhir['form'].replace([ 'Induksi Persalinan', 'Lap Obs Induksi', 'Lemb Obs Induksi',
 'Lemb Obs Induksi Persalinan',
 'Lemb Obs Kebidanan',
 'Lemb Obs Persalinan','Ekglemb Obs','Lemb'],'Lembar Observasi Induksi')

df_akhir['form'] = df_akhir['form'].replace([ 'Cheklist Serah Terima Pre & Pro Op',
 'Cheklist Serah Terima Px Op',],'Checklist Serah Terima Operasi')

In [24]:
forms = pd.Series(df_akhir['form'].unique()).sort_values()
list_form = list(forms)
list_form

['APS',
 'Asesmen Rawat Inap Medis',
 'Askep Anak',
 'Askep Gadar',
 'Askep Kebidanan',
 'Askep Ranap',
 'Assesmen Jatuh',
 'Assesmen Kebidanan',
 'Assesmen Neonatus',
 'Assesmen Pra Anastesi',
 'Assesmen Pra Bedah',
 'Assesmen Pra induksi',
 'Assesmen Rajal',
 'Assesmen Ranap Anak',
 'Assesmen Ranap Medis',
 'CIE',
 'CPPT',
 'Checklist Keselamatan Op',
 'Checklist Keselamatan Rb',
 'Checklist Serah Terima Operasi',
 'Code Blue',
 'DNR',
 'DPJP',
 'Diagnosa Keperawatan',
 'EKG',
 'For',
 'Form',
 'Formulir Penetapan Dpjp',
 'IC Anastesi',
 'IC HD ',
 'IC Kontrasepsi',
 'IC Resiko Tinggi',
 'IC transfusi',
 'ICU',
 'Ic Rapid Test',
 'Ic Tind Kebidanan',
 'Ic Tindakan Dokter',
 'Jawaban Konsultasi',
 'Jawaban Rujukan',
 'Laporan Anastesi',
 'Laporan Operasi',
 'Lemb Edukasi & Kesediaan Isoman Px Covid',
 'Lembar Observasi',
 'Lembar Observasi Induksi',
 'Monitoring Pasca Anastesi',
 'Monitoring Sedasi Lokal',
 'Monitoring Status  Fisiologis',
 'Penanda Lokasi Op',
 'Permintaan Konsultasi',
 'Px Isolasi Covid',
 'RMK',
 'Resume ICU',
 'Resume Kematian',
 'Ringkasan Pulang',
 'Serah Terima Bayi',
 'Serah Terima Jaringan',
 'Transfer Intra',
 'USG']

In [55]:
list69 = df_akhir.form.unique()
list69

In [56]:
jumlah_list = df_akhir.form.value_counts()
jumlah_list

CPPT                                        2155
RMK                                         1571
Askep Ranap                                 1327
DPJP                                        1276
Assesmen Ranap Medis                         581
Jawaban Konsultasi                           480
Permintaan Konsultasi                        358
Lembar Observasi                             323
Resume ICU                                   257
Askep Anak                                   211
Ic Tindakan Dokter                           190
EKG                                          188
IC transfusi                                 170
Penanda Lokasi Op                            131
Assesmen Pra Bedah                           119
Transfer Intra                               101
IC Anastesi                                   96
Jawaban Rujukan                               89
Checklist Keselamatan Op                      89
Assesmen Pra Anastesi                         79
IC Resiko Tinggi                              64
ICU                                           61
Monitoring Pasca Anastesi                     42
Laporan Anastesi                              41
Assesmen Pra induksi                          38
Lembar Observasi Induksi                      30
Assesmen Jatuh                                27
Assesmen Neonatus                             27
IC HD                                         22
CIE                                           17
Laporan Operasi                               15
Assesmen Kebidanan                            12
Checklist Keselamatan Rb                      10
Serah Terima Bayi                              9
Checklist Serah Terima Operasi                 6
Diagnosa Keperawatan                           5
Ringkasan Pulang                               5
Monitoring Sedasi Lokal                        4
DNR                                            4
Formulir Penetapan Dpjp                        4
Monitoring Status  Fisiologis                  4
Serah Terima Jaringan                          4
APS                                            4
Assesmen Rajal                                 3
IC Kontrasepsi                                 3
USG                                            3
Asesmen Rawat Inap Medis                       2
Askep Gadar                                    2
Resume Kematian                                2
Assesmen Ranap Anak                            1
Code Blue                                      1
Ic Rapid Test                                  1
Askep Kebidanan                                1
Px Isolasi Covid                               1
Ic Tind Kebidanan                              1
Lemb Edukasi & Kesediaan Isoman Px Covid       1
Name: form, dtype: int64

In [26]:
df_akhir

,no_rm,dokter,form
date,,,
2022-08-01,127094.0,dr. Airin Angelina. Sp. S,DPJP
2022-08-01,127094.0,dr. Guritno Adistyawan. Sp. KFR,Jawaban Konsultasi
2022-08-01,261060.0,dr. Tri Joko Winarno. Sp. OG.,DPJP
2022-08-01,261060.0,dr. Bangsal,CPPT
2022-08-01,261032.0,dr. Airin Angelina. Sp. S,Jawaban Rujukan
...,...,...,...
2022-06-13,189300.0,dr. Dian Caesarianna. Sp. B,Checklist Keselamatan Op
2022-06-30,168864.0,dr. Taufiq Nugroho. Sp. B.,Permintaan Konsultasi
2022-08-21,135969.0,dr. Diannisa Ikarumi Enisar Sangun. Sp.OG,Askep Ranap
2022-05-07,47186.0,dr. Muhammad Abdurrahman. Sp. B,Permintaan Konsultasi
2022-06-13,189300.0,dr. Dian Caesarianna. Sp. B,Permintaan Konsultasi

In [27]:
df_akhir = df_akhir[df_akhir['form'] != 'For']

df_akhir = df_akhir[df_akhir['form'] != 'Form']

In [28]:
form_srs = df_akhir.groupby('form')['no_rm'].count()

In [29]:
dokter_srs = df_akhir.groupby('dokter')['no_rm'].count()
dokter_srs

dokter
HALIMAH                        35
ICU                            12
ISMAIL                         19
MADINAH                        43
MINA                           44
                             ...
dr. Utti Nooring F. Sp.THT     19
dr. Wira Muhammad               1
dr. Yusuf. Sp. An             101
drg. Eka Widiyanta. Sp.BM     111
drg. Sikarini                   1
Name: no_rm, Length: 69, dtype: int64

In [30]:
dokter_srs2 = (df_akhir.dokter.value_counts())
dokter_srs2

dr. Noor Asiqoh. Sp. PD.                 821
dr. Prafita Cahya Dewanti. Sp. PD        746
dr. Taufik Hidayat. Sp.PD                714
dr. Dyah Samti Mayasari. Ph.D.. Sp.JP    613
dr. Rina Juwita. Sp.PD                   587
                                        ...
dr. Agung                                  1
drg. Sikarini                              1
dr. Sania Rifa Zaharadina                  1
dr. Rini Hidayati. Sp. Rad                 1
dr. Ira Ditya Tunjungsari                  1
Name: dokter, Length: 69, dtype: int64

In [31]:
pr_srs = df_akhir.groupby(pd.Grouper(freq='M')).nunique()

In [32]:
pr_srs

            no_rm  dokter  form
date
2022-01-31    388      38    34
2022-02-28    266      33    31
2022-03-31    325      34    36
2022-04-30    307      38    34
2022-05-31    355      36    31
2022-06-30    401      41    40
2022-07-31    498      53    41
2022-08-31    559      52    46

In [33]:
pr_srs = pr_srs.rename(columns= {'no_rm':'pr'})
pr_srs = pr_srs.drop(['dokter','form'],axis=1)

In [34]:
ranap_srs = ranap_srs.rename(columns={'no_rm':'pasien'})

ranap_srs = ranap_srs.drop(['dokter','form'],axis=1)

In [35]:
ketidaklengkapan_srs = pd.merge(pr_srs, ranap_srs, left_index=True,right_index=True)

In [36]:
ketidaklengkapan_srs

             pr  pasien
date
2022-01-31  388     669
2022-02-28  266     493
2022-03-31  325     514
2022-04-30  307     574
2022-05-31  355     594
2022-06-30  401     674
2022-07-31  498     739
2022-08-31  559     851

In [37]:
ketidaklengkapan_srs.pasien.sum()

5108

In [38]:
ketidaklengkapan_srs.to_csv('ketidaklengkapan.csv')

In [39]:
df_akhir.to_csv('data_final.csv')